// $fa-font-path: '../fonts';
@import './font-awesome/font-awesome';

body {
    margin: 0;
}
h1 {
    font-size: 60px;
    text-align: center;
    user-select: none;
}

.pngfile {
    background-image: url(../images/pngfile.png);
}